{% include 'header.html' %}
  <img src="static/DALL·E 2024-09-11 00.00.52 - A scene featuring a modern laptop on a wooden table with a cup of coffee beside it. The setting is inside a cozy coffee shop, with soft natural light .webp" width="100%" height="600"/>
  <div class="container text-center mt-5" id="landing">
<!-- What is LF? -->
<section class="row">
<div class="col-sm-4 xs-padding-top">
<i class="fa fa-fw fa-laptop fa-2x"></i>
<h3>Be Productive</h3>
<p>Find venues with reliable <strong>Wi-Fi</strong>, ample <strong>power sockets</strong>, and comfy <strong>seating areas</strong>.</p>
</div>
<div class="col-sm-4 xs-padding-top">
<i class="far fa-fw fa-smile fa-2x"></i>
<h3>Feel Welcome</h3>
<p>Discover the <strong>best times to work</strong>, based on community data.</p>
</div>
<div class="col-sm-4 xs-padding-top">
<i class="fa fa-fw fa-lightbulb fa-2x"></i>
<h3>Stay Inspired</h3>
<p>Uncover new places with <strong>laid-back ambiance</strong>, and <strong>friendly vibes</strong>.</p>
</div>
</section>
<hr>
<section class="row justify-content-center">
<div class="col-md-8">
<p class="font-large">LaptopFriendly partners with local <strong>venues that appreciate and support the remote worker culture</strong>. All locations are carefully inspected and manually approved by our curation team.</p>
</div>
</section>
<!-- Community -->
<hr>

</div>
{% include 'footer.html' %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>